# macOS
.DS_Store

# Environment files
.env
venv/
venvs/
.venv/

# Python
__pycache__/
*.pyc
.pytest_cache/
.cache/
*.log

# Jupyter
.ipynb_checkpoints/

# R
.Rhistory
.RData

# Raw datasets
datasets/raw/
datasets/EdStats/

# Exploratory notebooks
notebooks/exploratory/
